{erl_opts, [debug_info]}.

{deps, [
    {graphql, {git, "https://github.com/MarkoMin/egql.git", {branch, "master"}}},
    {nova, "~> 0.13"}
]}.

{shell, [{apps, [egql_nova]}]}.

{xref_ignores, [
    {egql_nova, execute, 2},
    {egql_nova_controller, graphql, 1},
    {egql_nova_controller, graphiql, 1},
    {egql_nova_plug, pre_request, 2},
    {egql_nova_plug, post_request, 2}
]}.

{project_plugins, [
    erlfmt,
    rebar3_ex_doc,
    rebar3_hex
]}.

{erlfmt, [
    write,
    {files, [
        "rebar.config",
        "src/*.app.src",
        "src/**/{*.erl,*.hrl}",
        "test/**/{*.erl,*.hrl}"
    ]}
]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/novaframework/egql_nova"},
    {source_url, "https://github.com/novaframework/egql_nova"},
    {api_reference, true}
]}.
